@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background__top {
  position: absolute;
  z-index: -1;
  height: 232px;
  width: 374px;
  background-image: url("../images/bg-pattern-top-mobile.svg");
  background-size: cover;
  left: 0;
}
@media (min-width: 1200px) {
  .background__top {
    background-image: url("../images/bg-pattern-top-desktop.svg");
    height: 362px;
    width: 584px;
    left: 0;
  }
}

.main {
  margin-top: 80px;
}
@media (min-width: 1200px) {
  .main {
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;
    margin-top: 127px;
  }
}

.main__textbox {
  width: 327px;
  text-align: center;
}
.main__textbox h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.14px;
  color: #502050;
}
.main__textbox p {
  color: #937b92;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 25px;
  margin-top: 18px;
}
@media (min-width: 1200px) {
  .main__textbox {
    width: 445px;
    text-align: left;
  }
  .main__textbox h1 {
    font-size: 48px;
    letter-spacing: -1.71px;
  }
}

.reviews__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .reviews__container {
    margin-top: 0px;
    width: 540px;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  width: 327px;
  height: 78px;
  background-color: #f7f2f7;
  border-radius: 8px;
}
@media (min-width: 1200px) {
  .rating {
    flex-direction: row;
    justify-content: flex-start;
    width: 445px;
    height: 56px;
  }
  .rating:nth-child(1) {
    align-self: flex-start;
  }
  .rating:nth-child(2) {
    align-self: center;
  }
  .rating:nth-child(3) {
    align-self: flex-end;
  }
}

.stars {
  height: 16px;
}
@media (min-width: 1200px) {
  .stars {
    margin: 0 32px;
  }
}

.rating__text {
  font-size: 13px;
  font-weight: 700;
  color: #502050;
}

.testimonial__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin-top: 49px;
  margin-bottom: 99px;
}
@media (min-width: 1200px) {
  .testimonial__container {
    flex-direction: row;
    column-gap: 30px;
    width: 1110px;
    height: 266px;
    margin-top: 0px;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 327px;
  height: 248px;
  background-color: #502050;
  border-radius: 8px;
}
@media (min-width: 1200px) {
  .testimonial {
    width: 350px;
    height: 234px;
  }
  .testimonial:nth-child(1) {
    align-self: flex-start;
  }
  .testimonial:nth-child(2) {
    align-self: center;
  }
  .testimonial:nth-child(3) {
    align-self: flex-end;
  }
}
.testimonial__profile {
  display: flex;
  height: 40px;
  align-items: center;
  margin-left: 32px;
}
.testimonial__profilepic {
  height: 100%;
  border-radius: 50%;
}
.testimonial__profiletext {
  font-size: 13px;
  margin-left: 23px;
}
.testimonial__profilename {
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
}
.testimonial__profileverified {
  color: #ee68a4;
}
.testimonial__statement {
  width: 263px;
  font-size: 13px;
  letter-spacing: -0.23px;
  line-height: 22px;
  font-weight: 500;
  color: white;
  margin-top: 26px;
  margin-left: 32px;
}

.background__bottom {
  position: absolute;
  z-index: -1;
  background-image: url("../images/bg-pattern-bottom-desktop.svg");
  background-size: cover;
  width: 1085px;
  height: 673px;
  bottom: 0;
  right: 0;
}
@media (max-width: 375px) {
  .background__bottom {
    bottom: -99px;
    background-image: url("../images/bg-pattern-bottom-mobile.svg");
    background-size: cover;
    height: 503px;
    width: 375px;
  }
}

/*# sourceMappingURL=main.css.map */
